.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--space-24);

  width: calc(100% - 60px);
  /* 좌우 여백 */
  /* max-width: 1280px;  */
  margin: 0 auto;
  /* 중앙 정렬 */

  height: var(--space-60);
  /* 60px 강제 지정 요청 반영 */
  background: var(--color-bg);
  border: 1px solid var(--color-text-gray-500);
  border-top: none;
  /* 상단 보더만 제외 */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: var(--space-16);
}

.mobileHamburgerBtn {
  display: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-text-gray-900);
}

@media (max-width: 768px) {
  .mobileHamburgerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.actionGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-24);
}

.iconLink {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-text-gray-700);
  transition: color 0.2s ease;
}

.iconLink:hover {
  color: var(--color-primary);
}

.textLink {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text-gray-900);
  text-decoration: none;
  cursor: pointer;
}

.textLink:hover {
  color: var(--color-primary);
}

.hostLinkRight {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text-gray-900);
  text-decoration: none;
  cursor: pointer;
}

.hostLinkRight:hover {
  color: var(--color-primary);
}