/* mypage/page.module.css */

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-32);
  width: 100%;
}

.pageTitle {
  font: var(--text-h1-bold);
  color: var(--color-text-gray-900);
}

.listSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-24);
  width: 100%;
}


.emptyState {
  color: var(--color-text-gray-500);
  text-align: center;
  width: 100%;
  padding: var(--space-48) 0;
}
