.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-48);
  padding: var(--space-48) var(--space-24);
  width: 100%;
  max-width: 1760px;
  margin: 0 auto;
}

.filterSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchBox {
  width: 400px;
}

.tagGroup {
  display: flex;
  gap: var(--space-8);
}

.content {
  width: 100%;
  padding-bottom: var(--space-48);
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: var(--space-48);
}

/* 반응형 모바일 */
@media screen and (max-width: 1024px) {
  .filterSection {
    flex-direction: column;
    gap: var(--space-16);
    align-items: flex-start;
  }

  .searchBox {
    width: 100%;
  }
}
