.pageTitle {
  font: var(--text-h1-bold);
  color: var(--color-text-gray-900);
  margin-bottom: var(--space-4);
}

.tableSection {
  margin-top: var(--space-8); /* 기획안 간격에 맞춰 조정 */
  margin-bottom: var(--space-32);
}
