.paginationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.pagination {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: var(--space-8) var(--space-16);
  gap: var(--space-12);
  height: 40px;
  background: var(--color-text-gray-300); /* #D1D5DB */
  border-radius: var(--radius-full);
}

.pageButton,
.pageEllipsis {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: var(--space-24);
  height: var(--space-24);
  border-radius: var(--radius-full);
  border: none;
  background: transparent;
  color: var(--color-text-gray-900); /* #111827 */
  font-family: inherit;
  font-size: var(--font-size-body---bold); /* 14px */
  font-weight: 500;
  cursor: pointer;
  transition: all var(--transition);
}

.pageEllipsis {
  cursor: default;
}

.pageButton:hover:not(:disabled):not(.selected) {
  background: rgba(0, 0, 0, 0.1); 
}

.pageButton:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* state=selected */
.selected {
  background: var(--color-text-gray-900); /* #111827 */
  color: var(--color-text-white); /* #FFFFFF */
}
